@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-white text-gray-900;
  }
  
  a {
    @apply no-underline text-inherit;
  }
  
  button {
    @apply cursor-pointer border-none outline-none;
  }
  
  input, textarea, select {
    @apply outline-none;
  }
}
